<!DOCTYPE html>
<html lang="tr">

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" c!importantmportantntent="Düzce Üniversitesi" />
    <meta name="description" content="Değer Üreten Üniversite">
    <meta name="author" content="Düzce Üniversitesi">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.png">
    <!-- Preload Font -->
    <link rel="preload" href="~/fonts/riode.ttf?5gap68" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="~/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: [ 'Jost:300,400,500,600,700', 'Poppins:300,400,500,600,700,800' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <link rel="stylesheet" type="text/css" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="~/vendor/sticky-icon/stickyicon.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="~/css/demo-diamart.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/demo12.min.css">
    <style>
        .linkcolor:hover {
            color: #85929E;
            transition: all 0.9s ease
        }

        .login-link:hover {
            color: #85929E !important;
            transition: all 0.9s ease
        }

        .menu li > a:hover {
            color: #283B93 !important;
            transition: all 0.9s ease
        }

            .menu li > a:hover::after {
                color: #283B93 !important;
                transition: all 0.9s ease
            }

            .menu li > a:hover::before {
                color: #283B93 !important;
                transition: all 0.9s ease
            }
    </style>
</head>
<body class="home">
    <div class="page-wrapper">
        <h1 class="d-none">Düzce Üniversitesi | Değer Üreten Üniversite</h1>
        <header class="header">
            <div class="header-top" style="background-color:#D4E6F1 !important; color:#34495E !important;">
                <div class="container">
                    <div class="header-left">
                        <div class="welcome-msg">
                            <a href="#" class="help linkcolor"><i>Çevre ve Sağlık Alanında İhtisas Üniversitesi</i></a>
                        </div>
                    </div>
                    <div class="header-right">

                        <ul class="menu">
                            <li>
                                <a href="#" class="linkcolor">Hızlı Erişim</a>
                                <ul>
                                    <li><a href="about-us.html">Personel</a></li>
                                    <li><a href="contact-us.html">Öğrenci</a></li>
                                    <li><a href="account.html">Hastane</a></li>
                                    <li><a href="wishlist.html">Teknopark</a></li>
                                    <li><a href="faq.html">Sanat Galerisi</a></li>
                                    <li><a href="coming-soon.html">Mezunlar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <a asp-controller="Account" asp-action="SignIn" class="linkcolor mr-0"><i class="d-icon-user"></i>Giriş Yap</a>
                        <div class="dropdown cartcolor cart-dropdown off-canvas type3 ml-2">
                            <a href="#" class="cart-toggle linkcolor" style="background-color:#283B93">
                                <img src="~/images/logos/dukkan.png" alt="Dükkan" width="65" height="100%" />
                            </a>
                            <div class="canvas-overlay"></div>
                            <!-- End Cart Toggle -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End HeaderTop -->
            <div class="header-middle sticky-header fix-top sticky-content" style="background-color:#F2F3F4; color:black">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle mr-0">
                            <i style="color:black" class="d-icon-bars2"></i>
                        </a>
                        <a asp-controller="Home" asp-action="Index" class="logo d-none d-lg-block">
                            <img src="~/images/logos/du15yilyazi.png" alt="logo" width="250" height="100%" />
                        </a>
                        <!-- End Logo -->
                    </div>
                    <div class="header-center d-flex justify-content-center">
                        <a href="demo-diamart.html" class="logo d-block d-lg-none">
                            <img src="~/images/logos/du15yilyazi.png" alt="logo" width="250" height="100%" />
                        </a>
                        <!-- End Logo -->
                    </div>
                    <div class="header-right">
                        <nav class="main-nav mr-4">
                            <ul class="menu menu-active-underline">
                                <li>
                                    <a href="#">Üniversitemiz</a>
                                    <ul>
                                        <li><a href="about-us.html">Düzce</a></li>
                                        <li><a href="contact-us.html">Kuruluş</a></li>
                                        <li>
                                            <a href="error-404.html">Yönetim</a>
                                            <ul>
                                                <li><a href="error-404.html">Rektör</a></li>
                                                <li><a href="error-404-1.html">Rektör Yardımcıları</a></li>
                                                <li><a href="error-404-2.html">Senato</a></li>
                                                <li><a href="error-404-3.html">Yönetim Kurulu</a></li>
                                                <li><a href="error-404-3.html">Genel Sekreter</a></li>
                                                <li><a href="error-404-3.html">Teşkilat Şeması</a></li>
                                                <li><a href="error-404-3.html">Senato ve Yönetim Kurulu Kararları</a></li>
                                                <li><a href="error-404-3.html">Rektörlerimiz</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="error-404.html">Sayılarla DÜ</a>
                                            <ul>
                                                <li><a href="error-404.html">Öğrenci Sayıları</a></li>
                                                <li><a href="error-404-1.html">Personel Sayıları</a></li>
                                                <li><a href="error-404-2.html">Bölüm ve Program Sayıları</a></li>
                                                <li><a href="error-404-3.html">Proje Sayıları</a></li>
                                                <li><a href="error-404-3.html">Fikri Mülkiyet</a></li>
                                                <li><a href="error-404-3.html">Derslik</a></li>
                                                <li><a href="error-404-3.html">Kapalı Alan</a></li>
                                                <li><a href="error-404-3.html">Üniversite İzleme ve Değerlendirme Raporu</a></li>
                                                <li><a href="error-404-3.html">Bütçe</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="error-404.html">Sıralamalar</a>
                                            <ul>
                                                <li><a href="error-404.html">URAP</a></li>
                                                <li><a href="error-404-1.html">THE</a></li>
                                                <li><a href="error-404-2.html">Girişimcilik Endeksi</a></li>
                                                <li><a href="error-404-3.html">Green Metric</a></li>
                                                <li><a href="error-404-3.html">İnnovaLig</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="coming-soon.html">İlkler</a></li>
                                        <li>
                                            <a href="error-404.html">Kurumsal Strateji</a>
                                            <ul>
                                                <li><a href="error-404.html">Stratejik Plan 2020-2024</a></li>
                                                <li><a href="error-404-1.html">Kalite Politikası</a></li>
                                                <li><a href="error-404-2.html">Sürekli İyileştirme</a></li>
                                                <li><a href="error-404-3.html">KİDR</a></li>
                                                <li><a href="error-404-3.html">Sürdürebilirlik Raporu</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="coming-soon.html">İdari Birimler</a></li>
                                        <li>
                                            <a href="error-404.html">Kampüs Yaşamı</a>
                                            <ul>
                                                <li><a href="error-404.html">Yeme/İçme</a></li>
                                                <li><a href="error-404-1.html">Spor Merkezleri</a></li>
                                                <li><a href="error-404-2.html">Ulaşım</a></li>
                                                <li><a href="error-404-3.html">Barınma</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="coming-soon.html">İşbirlikleri</a></li>
                                        <li><a href="coming-soon.html">Tanıtım Filmleri/Fotoğraf Galerisi</a></li>
                                        <li><a href="coming-soon.html">Yönetmelik ve Yönergeler</a></li>
                                        <li><a href="coming-soon.html">Bilgi Güvenliği Politikamız</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Akademik</a>
                                    <ul>
                                        <li>
                                            <a href="error-404.html">Fakülteler</a>
                                            <ul>
                                                <li><a href="error-404.html">Akçakoca Bey Siyasal Bilgiler Fakültesi</a></li>
                                                <li><a href="error-404-1.html">Eğitim Fakültesi</a></li>
                                                <li><a href="error-404-2.html">Fen Edebiyat Fakültesi</a></li>
                                                <li><a href="error-404-3.html">İlahiyat Fakültesi</a></li>
                                                <li><a href="error-404-3.html">İşletme Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Mühendislik Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Orman Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Sağlık Bilimleri Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Sanat Tasarım ve Mimarlık Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Spor Bilimleri Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Tıp Fakültesi</a></li>
                                                <li><a href="error-404-3.html">Ziraat Fakültesi</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="error-404.html">Enstitüler</a>
                                            <ul>
                                                <li><a href="error-404.html">Lisansüstü Eğitim Enstitüsü</a></li>
                                                <li><a href="error-404-1.html">Güzel Sanatlar Enstitüsü</a></li>
                                                <li><a href="error-404-2.html">Fen Bilimleri Enstitüsü</a></li>
                                                <li><a href="error-404-3.html">Sağlık Bilimleri Enstitüsü</a></li>
                                                <li><a href="error-404-3.html">Sosyal Bilimler Enstitüsü</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="error-404.html">Yüksekokullar</a>
                                            <ul>
                                                <li><a href="error-404.html">Akçakoca Turizm İşletme ve Otelcilik Yüksekokulu</a></li>
                                                <li><a href="error-404-1.html">Hakime ERCİYAS Yabancı Diller Yüksekokulu</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="error-404.html">Meslek Yüksekokulları</a>
                                            <ul>
                                                <li><a href="error-404.html">Akçakoca MYO</a></li>
                                                <li><a href="error-404.html">Çilimli MYO</a></li>
                                                <li><a href="error-404.html">Düzce MYO</a></li>
                                                <li><a href="error-404.html">Dr. Engin PAK Cumayeri MYO</a></li>
                                                <li><a href="error-404.html">Gölyaka MYO</a></li>
                                                <li><a href="error-404.html">Gümüşova MYO</a></li>
                                                <li><a href="error-404.html">Kaynaşlı MYO</a></li>
                                                <li><a href="error-404.html">Ormancılık MYO</a></li>
                                                <li><a href="error-404.html">Sağlık Hizmetleri MYO</a></li>
                                                <li><a href="error-404.html">Sosyal Bilimler MYO</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="coming-soon.html">Kurullar</a></li>
                                        <li>
                                            <a href="error-404.html">Bölüm Başkanlıkları</a>
                                            <ul>
                                                <li><a href="error-404.html">Atatürk İlkeleri ve İnkılap Tarihi Bölümü</a></li>
                                                <li><a href="error-404-1.html">Türk Dili Bölümü</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Araştırma</a>
                                    <ul>
                                        <li><a href="about-us.html">Araştırma Merkezleri</a></li>
                                        <li><a href="contact-us.html">Laboratuvar Envanteri</a></li>
                                        <li><a href="coming-soon.html">Yayınlar Projeler</a></li>
                                        <li><a href="coming-soon.html">Hakemli Dergiler</a></li>
                                        <li><a href="coming-soon.html">Teknoloji Transfer Ofisi</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">İhtisaslaşma</a>
                                    <ul>
                                        <li><a href="about-us.html">Program Kapsamı</a></li>
                                        <li><a href="contact-us.html">Tıbbi Bitki Yetiştiriciliği</a></li>
                                        <li><a href="coming-soon.html">Ürünler/Markalar</a></li>
                                        <li><a href="coming-soon.html">Üretim Merkezi</a></li>
                                        <li><a href="coming-soon.html">Geleneksel ve Tamamlayıcı Tıp Faaliyetleri</a></li>
                                        <li><a href="coming-soon.html">Tarımsal Atıkların Geri Kazanımı Faaliyetleri</a></li>
                                        <li><a href="coming-soon.html">Arıcılık/Arı Ürünleri</a></li>
                                        <li><a href="coming-soon.html">Bilimsel Yayınlar</a></li>
                                        <li><a href="coming-soon.html">İşbirlikleri</a></li>
                                        <li><a href="coming-soon.html">Etkinlikler</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html"><b style="color:#31bfae">DÜ</b>Yayınlar</a></li>
                                <li><a href="about-us.html"><b style="color:#31bfae">DÜ</b>Duyurular</a></li>
                            </ul>
                        </nav>

                        <span class="divider mr-4"></span>
                        <div class="header-search hs-toggle d-block">
                            <a href="#" class="search-toggle d-flex align-items-center">
                                <i class="d-icon-search" style="color:black"></i>
                            </a>
                            <form action="#" class="input-wrapper">
                                <input type="text" class="form-control" name="search" autocomplete="off"
                                       placeholder="Search your keyword..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <!-- End of Main -->
        <footer class="footer">
            <div class="container">
                <div class="footer-middle">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget-about">
                                <h4 class="widget-title">Düzce Üniversitesi</h4>
                                <div class="widget-body">
                                    <p class="font-primary ls-normal mb-4 pr-lg-3">

                                        Değer Üreten Üniversite...

                                    </p>
                                </div>
                                <a asp-controller="Home" asp-action="Index" class="logo-footer pb-4 pb-lg-0">
                                    <img src="~/images/logos/du15yilyazi.png" alt="logo-footer" width="154"
                                         height="43" />
                                </a>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="widget">
                                    <div class="social-links">
                                    <a href="https://www.facebook.com/DuzceUniversite" class="social-link social-facebook fab fa-facebook-f"></a>
                                    <a href="https://twitter.com/duzceuniversite" class="social-link social-twitter fab fa-twitter"></a>
                                    <a href="https://www.youtube.com/duzceuniversite" class="social-link social-youtube fab fa-youtube"></a>
                                    <a href="https://duzce.edu.tr/" class="social-link social-whatsapp fab fa-whatsapp"></a>
                                </div>
                            </div>
                            <!-- End Widget -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="widget widget-info mb-0">
                                <h4 class="widget-title">İletişim</h4>
                                <ul class="widget-body mb-5">
                                    <li>
                                        <label>Adres:</label>
                                        <a href="#">Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620</a>
                                    </li>
                                    <li>
                                        <label>Tel:</label>
                                        <a href="tel:#">0(850) 800 81 81</a>
                                    </li>
                                    <li>
                                        <label>Fax:</label>
                                        <a href="#">0(380) 542 11 03</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End FooterMiddle -->
                <div class="footer-bottom">
                    <div class="footer-left mb-0">
                    </div>
                    <div class="footer-center mb-0">
                        <p class="copyright">Riode eCommerce &copy; 2021. All Rights Reserved</p>
                    </div>
                    <div class="footer-right mb-0">
                    </div>
                </div>
                <!-- End FooterBottom -->
            </div>
        </footer>
    </div>
    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    <!-- MobileMenu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End of Overlay -->
        <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
        <!-- End of CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form action="#" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                       placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="d-icon-search"></i>
                </button>
            </form>
            <!-- End of Search Form -->

<ul class="mobile-menu mmenu-anim">
    <li>
        <a href="#">Üniversitemiz</a>
        <ul>
            <li><a href="about-us.html">Düzce</a></li>
            <li><a href="contact-us.html">Kuruluş</a></li>
            <li>
                <a href="error-404.html">Yönetim</a>
                <ul>
                    <li><a href="error-404.html">Rektör</a></li>
                    <li><a href="error-404-1.html">Rektör Yardımcıları</a></li>
                    <li><a href="error-404-2.html">Senato</a></li>
                    <li><a href="error-404-3.html">Yönetim Kurulu</a></li>
                    <li><a href="error-404-3.html">Genel Sekreter</a></li>
                    <li><a href="error-404-3.html">Teşkilat Şeması</a></li>
                    <li><a href="error-404-3.html">Senato ve Yönetim Kurulu Kararları</a></li>
                    <li><a href="error-404-3.html">Rektörlerimiz</a></li>
                </ul>
            </li>
            <li>
                <a href="error-404.html">Sayılarla DÜ</a>
                <ul>
                    <li><a href="error-404.html">Öğrenci Sayıları</a></li>
                    <li><a href="error-404-1.html">Personel Sayıları</a></li>
                    <li><a href="error-404-2.html">Bölüm ve Program Sayıları</a></li>
                    <li><a href="error-404-3.html">Proje Sayıları</a></li>
                    <li><a href="error-404-3.html">Fikri Mülkiyet</a></li>
                    <li><a href="error-404-3.html">Derslik</a></li>
                    <li><a href="error-404-3.html">Kapalı Alan</a></li>
                    <li><a href="error-404-3.html">Üniversite İzleme ve Değerlendirme Raporu</a></li>
                    <li><a href="error-404-3.html">Bütçe</a></li>
                </ul>
            </li>
            <li>
                <a href="error-404.html">Sıralamalar</a>
                <ul>
                    <li><a href="error-404.html">URAP</a></li>
                    <li><a href="error-404-1.html">THE</a></li>
                    <li><a href="error-404-2.html">Girişimcilik Endeksi</a></li>
                    <li><a href="error-404-3.html">Green Metric</a></li>
                    <li><a href="error-404-3.html">İnnovaLig</a></li>
                </ul>
            </li>
            <li><a href="coming-soon.html">İlkler</a></li>
            <li>
                <a href="error-404.html">Kurumsal Strateji</a>
                <ul>
                    <li><a href="error-404.html">Stratejik Plan 2020-2024</a></li>
                    <li><a href="error-404-1.html">Kalite Politikası</a></li>
                    <li><a href="error-404-2.html">Sürekli İyileştirme</a></li>
                    <li><a href="error-404-3.html">KİDR</a></li>
                    <li><a href="error-404-3.html">Sürdürebilirlik Raporu</a></li>
                </ul>
            </li>
            <li><a href="coming-soon.html">İdari Birimler</a></li>
            <li>
                <a href="error-404.html">Kampüs Yaşamı</a>
                <ul>
                    <li><a href="error-404.html">Yeme/İçme</a></li>
                    <li><a href="error-404-1.html">Spor Merkezleri</a></li>
                    <li><a href="error-404-2.html">Ulaşım</a></li>
                    <li><a href="error-404-3.html">Barınma</a></li>
                </ul>
            </li>
            <li><a href="coming-soon.html">İşbirlikleri</a></li>
            <li><a href="coming-soon.html">Tanıtım Filmleri/Fotoğraf Galerisi</a></li>
            <li><a href="coming-soon.html">Yönetmelik ve Yönergeler</a></li>
            <li><a href="coming-soon.html">Bilgi Güvenliği Politikamız</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Akademik</a>
        <ul>
            <li>
                <a href="error-404.html">Fakülteler</a>
                <ul>
                    <li><a href="error-404.html">Akçakoca Bey Siyasal Bilgiler Fakültesi</a></li>
                    <li><a href="error-404-1.html">Eğitim Fakültesi</a></li>
                    <li><a href="error-404-2.html">Fen Edebiyat Fakültesi</a></li>
                    <li><a href="error-404-3.html">İlahiyat Fakültesi</a></li>
                    <li><a href="error-404-3.html">İşletme Fakültesi</a></li>
                    <li><a href="error-404-3.html">Mühendislik Fakültesi</a></li>
                    <li><a href="error-404-3.html">Orman Fakültesi</a></li>
                    <li><a href="error-404-3.html">Sağlık Bilimleri Fakültesi</a></li>
                    <li><a href="error-404-3.html">Sanat Tasarım ve Mimarlık Fakültesi</a></li>
                    <li><a href="error-404-3.html">Spor Bilimleri Fakültesi</a></li>
                    <li><a href="error-404-3.html">Tıp Fakültesi</a></li>
                    <li><a href="error-404-3.html">Ziraat Fakültesi</a></li>
                </ul>
            </li>
            <li>
                <a href="error-404.html">Enstitüler</a>
                <ul>
                    <li><a href="error-404.html">Lisansüstü Eğitim Enstitüsü</a></li>
                    <li><a href="error-404-1.html">Güzel Sanatlar Enstitüsü</a></li>
                    <li><a href="error-404-2.html">Fen Bilimleri Enstitüsü</a></li>
                    <li><a href="error-404-3.html">Sağlık Bilimleri Enstitüsü</a></li>
                    <li><a href="error-404-3.html">Sosyal Bilimler Enstitüsü</a></li>
                </ul>
            </li>
            <li>
                <a href="error-404.html">Yüksekokullar</a>
                <ul>
                    <li><a href="error-404.html">Akçakoca Turizm İşletme ve Otelcilik Yüksekokulu</a></li>
                    <li><a href="error-404-1.html">Hakime ERCİYAS Yabancı Diller Yüksekokulu</a></li>
                </ul>
            </li>
            <li>
                <a href="error-404.html">Meslek Yüksekokulları</a>
                <ul>
                    <li><a href="error-404.html">Akçakoca MYO</a></li>
                    <li><a href="error-404.html">Çilimli MYO</a></li>
                    <li><a href="error-404.html">Düzce MYO</a></li>
                    <li><a href="error-404.html">Dr. Engin PAK Cumayeri MYO</a></li>
                    <li><a href="error-404.html">Gölyaka MYO</a></li>
                    <li><a href="error-404.html">Gümüşova MYO</a></li>
                    <li><a href="error-404.html">Kaynaşlı MYO</a></li>
                    <li><a href="error-404.html">Ormancılık MYO</a></li>
                    <li><a href="error-404.html">Sağlık Hizmetleri MYO</a></li>
                    <li><a href="error-404.html">Sosyal Bilimler MYO</a></li>
                </ul>
            </li>
            <li><a href="coming-soon.html">Kurullar</a></li>
            <li>
                <a href="error-404.html">Bölüm Başkanlıkları</a>
                <ul>
                    <li><a href="error-404.html">Atatürk İlkeleri ve İnkılap Tarihi Bölümü</a></li>
                    <li><a href="error-404-1.html">Türk Dili Bölümü</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Araştırma</a>
        <ul>
            <li><a href="about-us.html">Araştırma Merkezleri</a></li>
            <li><a href="contact-us.html">Laboratuvar Envanteri</a></li>
            <li><a href="coming-soon.html">Yayınlar Projeler</a></li>
            <li><a href="coming-soon.html">Hakemli Dergiler</a></li>
            <li><a href="coming-soon.html">Teknoloji Transfer Ofisi</a></li>
        </ul>
    </li>
    <li>
        <a href="#">İhtisaslaşma</a>
        <ul>
            <li><a href="about-us.html">Program Kapsamı</a></li>
            <li><a href="contact-us.html">Tıbbi Bitki Yetiştiriciliği</a></li>
            <li><a href="coming-soon.html">Ürünler/Markalar</a></li>
            <li><a href="coming-soon.html">Üretim Merkezi</a></li>
            <li><a href="coming-soon.html">Geleneksel ve Tamamlayıcı Tıp Faaliyetleri</a></li>
            <li><a href="coming-soon.html">Tarımsal Atıkların Geri Kazanımı Faaliyetleri</a></li>
            <li><a href="coming-soon.html">Arıcılık/Arı Ürünleri</a></li>
            <li><a href="coming-soon.html">Bilimsel Yayınlar</a></li>
            <li><a href="coming-soon.html">İşbirlikleri</a></li>
            <li><a href="coming-soon.html">Etkinlikler</a></li>
        </ul>
    </li>
    <li><a href="about-us.html"><b style="color:#31bfae">DÜ</b>Yayınlar</a></li>
    <li><a href="about-us.html"><b style="color:#31bfae">DÜ</b>Duyurular</a></li>
    </li>
</ul>


            <!-- End of MobileMenu -->
            <!-- <ul class="mobile-menu mmenu-anim">
                <li><a href="login.html">Login</a></li>
                <li><a href="cart.html">My Cart</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
            </ul> -->
            <!-- End of MobileMenu -->
        </div>
    </div>
    <!-- sticky icons-->
    <!-- Plugins JS File -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/parallax/parallax.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="~/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>
