@using Microsoft.AspNetCore.Components.Web
@namespace Blazor_UI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" c!importantmportantntent="Düzce Üniversitesi" />
    <meta name="description" content="Değer Üreten Üniversite">
    <meta name="author" content="Düzce Üniversitesi">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/logos/du15yil.png">
    <!-- Preload Font -->
    <link rel="preload" href="/fonts/riode.ttf?5gap68" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: [ 'Poppins:400,500,600,700,800' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = 'js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>



    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
@*    <link rel="stylesheet" type="text/css" href="/vendor/magnific-popup/magnific-popup.min.css">
*@    <link rel="stylesheet" type="text/css" href="/vendor/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="/vendor/sticky-icon/stickyicon.css">
    <link rel="stylesheet" type="text/css" href="/vendor/codemirror/codemirror.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="/css/demo26.min.css">
    <link rel="stylesheet" type="text/css" href="/css/accordion.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="with-flex-container">

    <div class="page-wrapper">
        @RenderBody()
    </div>



    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendor/elevatezoom/jquery.elevatezoom.min.js"></script>
@*    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
*@
    <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendor/jquery.plugin/jquery.plugin.min.js"></script>
    <script src="/vendor/codemirror/codemirror.min.js"></script>
    <script src="/vendor/popup-code/popcode.min.js"></script>

    <!-- Main JS File -->
    <script src="/js/main.min.js"></script>
    <script src="_framework/blazor.server.js"></script>


</body>
</html>
