@page "/Link/Create"
@using Blazor_UI.Data
@inject IHttpClientFactory ClientFactory
@inject LinkApiRequests linkapi
@inject HttpClient http;
@inject IJSRuntime JSRuntime;

<main class="main">
    <div class="page-content">
        <section class="mt-4 pt-10 pb-8">
            <div class="container">
                <div class="tab-pane" id="account">
                    <EditForm Model="@linkCreateDto" OnSubmit="@HandleSubmit" enctype="multipart/form-data" class="form">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <label>Başlık</label>
                        <InputText class="form-control mb-0" @bind-Value="linkCreateDto.Title" required="" />
                        <span asp-validation-for="Title"></span>

                        <label>Url</label>
                        <InputText class="form-control mb-0" @bind-Value="linkCreateDto.Url" required="" />
                        <span asp-validation-for="Url"></span>
                        <br />

                        <div>
                            <label>Durum</label>
                            <InputCheckbox id="switch" @bind-Value="linkCreateDto.Status" />
                            <label class="togglechck" for="switch">Toggle</label>
                            <span asp-validation-for="Status"></span>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <a href="/Link" class="btn btn-secondary">Tüm Linkler</a>
                    </EditForm>
                </div>
            </div>
        </section>
    </div>
</main>

@code {
    private LinkCreateDtoBlazor linkCreateDto = new LinkCreateDtoBlazor();

    private async void HandleSubmit()
    {
        linkapi.CreateAsync(linkCreateDto).Wait();
    }
}
