input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.togglechck {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
}

    .togglechck:after {
        content: "";
        position: absolute;
        top: 1.35px;
        left: 1.25px;
        width: 22.5px;
        height: 22.5px;
        background: #fff;
        border-radius: 22.5px;
        transition: 0.3s;
    }

input:checked + .togglechck {
    background: #bada55;
}

    input:checked + .togglechck:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

.togglechck:active:after {
    width: 130px;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*/